In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
# Question 11

# What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
# Hint: Perform a groupby sum aggregation on ‘Item’

df.groupby('Item')['Y2014','Y2017'].count()

C:\Users\admin\AppData\Local\Temp/ipykernel_21292/3573406675.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Item')['Y2014','Y2017'].count()

                     Y2014  Y2017
Item
Alcohol, Non-Food      275    273
Alcoholic Beverages    562    560
Animal Products        135    135
Animal fats            635    636
Apples and products    510    511
...                    ...    ...
Vegetables, Other      575    574
Vegetal Products       135    135
Wheat and products     645    646
Wine                   491    491
Yams                   318    349

[119 rows x 2 columns]

In [5]:
# Question 12

# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
# Question 13
# What is the total number and percentage of missing data in 2016 to 2 decimal places?

df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
# Question 14
# Which year had the highest correlation with ‘Element Code’? 

df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [8]:
# Question 15
# What year has the highest sum of Import Quantity?

# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question
df.groupby('Element').count()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,5295,5295,5295,5295,5295,5295,5244,5245,5250,5258,5256
Export Quantity,4403,4403,4403,4403,4403,4403,3660,3704,3653,3660,3646
Fat supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4965,4974,4980,4982,4987
Feed,1319,1319,1319,1319,1319,1319,1216,1177,1215,1213,1225
Food,4941,4941,4941,4941,4941,4941,4896,4901,4910,4912,4913
Food supply (kcal/capita/day),5014,5014,5014,5014,5014,5014,4947,4955,4963,4965,4969
Food supply quantity (kg/capita/yr),4905,4905,4905,4905,4905,4905,4860,4865,4874,4876,4877
Import Quantity,5139,5139,5139,5139,5139,5139,4919,4911,4908,4929,4945
Losses,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009,2008
Other uses (non-food),1732,1732,1732,1732,1732,1732,1662,1667,1634,1619,1655
Processing,2010,2010,2010,2010,2010,2010,1987,1995,1996,1998,2003
Production,3881,3881,3881,3881,3881,3881,3830,3828,3838,3829,3846
Protein supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4963,4971,4978,4980,4986
Residuals,4655,4655,4655,4655,4655,4655,4604,4605,4610,4618,4616
Seed,762,762,762,762,762,762,762,759,759,758,758
Stock Variation,4232,4232,4232,4232,4232,4232,4230,4229,4231,4231,4217
Total Population - Both sexes,45,45,45,45,45,45,45,45,45,45,45
Tourist consumption,555,555,555,555,555,555,555,555,555,555,555

In [9]:
# Question 16
# What is the total number of the sum of Production in 2014?

# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question
df.groupby('Element')['Y2014'].nunique()

Element
Domestic supply quantity                  1139
Export Quantity                            390
Fat supply quantity (g/capita/day)         699
Feed                                       259
Food                                       981
Food supply (kcal/capita/day)              496
Food supply quantity (kg/capita/yr)       1499
Import Quantity                            544
Losses                                     288
Other uses (non-food)                      174
Processing                                 237
Production                                1038
Protein supply quantity (g/capita/day)     747
Residuals                                   90
Seed                                       120
Stock Variation                            330
Total Population - Both sexes               45
Tourist consumption                         19
Name: Y2014, dtype: int64

In [10]:
# Question 17
# Which of these elements had the highest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation
# on ‘Element’ on the selected dataframe and answer the  question.
df.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

In [11]:
# Question 18
# Which of these elements had the 3rd lowest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation
# on ‘Element’ on the selected dataframe and answer the  question.
df.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

In [16]:
# Question 19
# What is the total Import Quantity in Algeria in 2018?

df.groupby('Area').count()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Comoros,45,45,45,45,45,45,45,45,45,45,45
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
Côte d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [15]:
# Question 20
# What is the total number of unique countries in the dataset?

df.groupby('Area').nunique()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1,119,116,17,17,5,409,410,403,400,409
Angola,1,121,118,18,18,5,378,364,367,366,367
Benin,1,119,116,17,17,5,364,346,346,361,370
Botswana,1,120,117,18,18,5,257,254,257,239,265
Burkina Faso,1,121,118,17,17,5,322,305,309,302,304
Cabo Verde,1,118,115,18,18,5,237,231,226,231,227
Cameroon,1,122,119,17,17,5,422,414,423,417,402
Central African Republic,1,119,116,17,17,5,242,231,227,245,234
Chad,1,122,119,17,17,5,284,280,274,281,275
Comoros,1,9,9,7,7,1,9,10,14,17,17
Congo,1,122,119,17,17,5,264,263,263,273,265
Côte d'Ivoire,1,122,119,17,17,5,377,383,390,380,393
Djibouti,1,117,114,17,17,5,214,210,213,210,212
Egypt,1,121,118,18,18,5,512,520,515,511,527
Eswatini,1,120,117,17,17,5,257,240,249,254,246
Ethiopia,1,122,119,17,17,5,407,401,395,391,398
Ethiopia PDR,1,7,7,8,8,1,1,1,1,1,1
Gabon,1,118,115,17,17,5,268,266,266,265,268
Gambia,1,114,111,17,17,5,225,223,230,226,227
Ghana,1,121,118,17,17,5,425,415,419,433,436
Guinea,1,121,118,17,17,5,326,317,326,322,334
Guinea-Bissau,1,115,112,17,17,5,226,224,232,224,226
Kenya,1,122,119,18,18,5,415,406,394,416,410
Lesotho,1,119,116,17,17,5,207,202,198,217,215
Liberia,1,119,116,17,17,5,233,233,227,230,229
Madagascar,1,122,119,17,17,5,323,317,330,333,325
Malawi,1,122,119,17,17,5,322,344,327,327,333
Mali,1,117,114,17,17,5,364,370,365,372,373
Mauritania,1,116,113,17,17,5,261,273,271,273,267
Mauritius,1,118,115,18,18,5,301,284,297,286,280
Morocco,1,121,118,17,17,5,467,451,460,444,458
Mozambique,1,122,119,17,17,5,352,352,352,356,348
Namibia,1,119,116,17,17,5,287,296,299,294,296
Niger,1,121,118,17,17,5,300,296,296,288,298
Nigeria,1,122,119,17,17,5,494,491,482,481,478
Rwanda,1,122,119,17,17,5,301,291,294,304,296
Sao Tome and Principe,1,114,111,18,18,5,193,196,204,203,197
Senegal,1,122,119,17,17,5,337,335,337,348,358
Seychelles,1,11,11,8,8,1,27,30,31,30,30
Sierra Leone,1,116,113,17,17,5,293,269,266,279,272
South Africa,1,120,117,17,17,5,516,509,523,496,509
Sudan,1,121,118,17,17,5,372,371,370,359,365
Sudan (former),1,9,9,8,8,1,1,1,1,1,1
Togo,1,118,115,17,17,5,287,295,298,299,314
Tunisia,1,120,117,17,17,5,382,392,387,390,387
Uganda,1,122,119,17,17,5,354,359,366,366,365
United Republic of Tanzania,1,122,119,17,17,5,465,457,443,434,435
Zambia,1,122,119,17,17,5,299,306,296,299,305
Zimbabwe,1,121,118,17,17,5,309,296,291,299,306